.Ranking > ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
  }
  
.Ranking > li {
    text-align: center;
  }
  
.Ranking > ul > li > img {
    width: 150px;
    border-radius: 10px;
  }
  